.Carousel {
    width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.c-container {
    position: relative;
}

.card-Carousel {
    width: 96%;
    padding: 2%;
}

.carousel-img {
    width: 100%;
    height: 600px;
}

.carousel-img1 {
    width: 100% !important;
    height: 450px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.card-heading{
    display: flex;
    margin-left: 10px;
}

.car-card {
    width: 60%;
    border: brown solid 2px;
    height: auto;
    color: black;
    padding: 20px;
    margin-bottom: 5%;
    margin-left: 20%;
}

.carousel-font {
    font-size: 0.9rem;
    font-weight: 500;
    color: #939393;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.carousel-font-price{
    font-size: 0.9rem;
    font-weight: 500;
    color: #48D0E5;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.Carousal-heading{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2rem;
    justify-content: left;
}

.car-heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    font-size: 3rem;
    color: brown;
}

@media (max-width: 720px) {
    .carousel-img {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 415px) {
    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 0.7rem;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding-left: 5px;
        padding-right: 5px;
    }

    .carousel-font {
        font-size: 1rem;
    }

    .carousel-img {
        width: 100%;
        height: 200px;
    }

    .carousel-img1 {
        width: 100% !important;
        height: 120px !important;
    }

    .card-Carousel {
        width: 96%;
        padding: 2%;
    }

    .carousel-font {
        font-size: 0.5rem;
        font-weight: 550;
    }
    
    .carousel-font-price{
        font-size: 0.5rem;
        font-weight: 550;
    }
    
    .Carousal-heading{
        font-weight: 550;
        font-size: 1rem;
    }
}