@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Rubik+Scribble&display=swap');
.scrolling-text--item-outline-text--true {
    display: inline-flex;
    font-size: 2.8rem;
    align-items: center;
    padding: 0 30px;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.scrolling-text--item-outline-text--false {
    display: inline-flex;
    font-size: 3rem;
    align-items: center;
    padding: 0 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Sale-Marquee{
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.Sale-Marquee-Text{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}